*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: blueviolet; */
}

.App {
	--bg-primary: hsl(260, 76%, 63%);
	--bg-secondary: hsl(260, 76%, 69%);
	--font-color: cornsilk;
	--dark-1: hsl(260, 76%, 50%);
	--dark-2: hsl(260, 76%, 43%);
	--dark-3: hsl(260, 76%, 33%);
}

.App.dark {
	--bg-primary: hsl(320, 20%, 3%);
	--bg-secondary: hsl(320, 20%, 13%);
	--font-color: cornsilk;
	--dark-1: hsl(320, 20%, 10%);
	--dark-2: hsl(320, 20%, 7%);
	--dark-3: hsl(320, 20%, 5%);
}

.App {
	width: clamp(300px, 50%, 700px);
	margin: 2em auto;
	text-align: center;
	padding: 0.2rem 0 0.5rem 0;
	border-radius: 10px;
	background-color: var(--bg-primary);
	color: var(--font-color);
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 100vw var(--bg-secondary);
}

.navbar {
	margin: 2em 0;
}
.nav-title {
	margin: 0;
}

.nav-desc {
	margin: 0;
	margin-top: 0.5em;
	font-size: 1.2rem;
}

.navbar .task-length {
	background-color: var(--dark-1);
	padding: 0 0.4em;
}

.task-list > ul {
	padding: 0.5em 1em;
	list-style: none;
	text-align: left;
}

.task-item {
	width: 70%;
	min-width: 250px;
	margin: 0.3em auto;
	font-size: 1.3rem;
	border-bottom: 2px solid var(--dark-2);
	padding-bottom: 0.2em;
	cursor: pointer;
}

.task-form > form {
	display: flex;
	flex-direction: column;
	width: 80%;
	min-width: 270px;
	margin: 0 auto;
}

input[type='text'] {
	width: 80%;
	margin: 0 auto;
	padding: 0.5em;
	font-size: 1.1rem;
	border-radius: 5px;
	border: 2px solid #4b4444;
}

input[type='text']:focus-within {
	outline: none;
}

input[type='submit'] {
	display: inline-block;
	width: 40%;
	margin: 1rem auto;
	font-size: 1.2rem;
	padding: 0.3em 0.4em;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid var(--dark-2);
	background-color: var(--dark-3);
	color: var(--font-color);
}
